<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body style="margin:0; font-size: 20px; ">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><strong>เลขที่ {doc_no} </strong></td>
  </tr>
  <tr>
    <td><div align="center">ใบเสร็จรับเงินชั่วคราว</div></td>
  </tr>
  <tr>
    <td><div align="center"><span style="font-size: 30px">{company_name}</span> <br>
      <span style="font-size: 24px">{branch_name}</span><br>
    <span style="font-size: 20px">{branch_add}</span><br>
    โทร: {branch_tel} Fax: {branch_fax} </div></td>
  </tr>
  <tr>
    <td><div align="right">วันที่ {stock_out_date} </div></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>ไดรับเงินจาก : {cust_name}</td>
        <td>เลขที่บัตรประชาชน : {citizen_id}</td>
        </tr>
      <tr>
        <td colspan="2">ที่อยู่ : {cust_addr} {cust_addr_province} </td>
        </tr>
      <tr>
        <td>ชำระค่า รถจักรยานยนต์</td>
        <td>&nbsp;</td>
        </tr>
      
      <tr>
        <td colspan="2">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="14%">ยี่ห้อ</td>
            <td width="26%">{brand_name}</td>
            <td width="13%">รุ่น</td>
            <td width="47%">{model_name}</td>
          </tr>
          
          <tr>
            <td>เลขตัวถัง</td>
            <td>{engine_no}</td>
            <td>สี</td>
            <td>{color}</td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>ทะเบียนรถ จดใหม่ </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td colspan="2">อื่นๆ : {other} </td>
        </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td>ผู้ชำระเงิน/ผู้รับรถ.......................................................</td>
		<td>ผู้รับเงิน....................................................</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><strong>หมายเหตุ: </strong>ระยะเวลารับทะเบียน ประมาณ 1 เดือน </td>
  </tr>
</table><br>
<br>

<hr/>
</body>
</html>
